@media all and (max-width: 2500px) {
  .game {
    font-family: "Sora", sans-serif;
    background: rgb(21, 24, 0);
    padding: 5.4vh 0 0 0;
    color: white;
    display: grid;
    justify-items: center;
  }
  .gametitle {
    font-weight: 400, Regular;
    background: rgb(33, 36, 43);
    border-radius: 20px;
    border: none;
    padding: 1vh 2vw 1vh 2vw;
  }

  .gamep {
    text-align: center;
    width: 26%;
    font-weight: 400, Regular;
    margin: 0 0 6.6vh 0;
  }

  .gameimg {
    width: 49.24vw;
  }
  .gameimg1 {
    width: 64vw;
    margin: 0 0 0 14vw;
  }

  .gameimg2 {
    width: 64vw;
    margin: 0 0 13.48vh 14vw;
    object-fit:cover;
  }
 
  .gamebtn,.gamebtn2 {
    font-size: clamp(16px, 1.2vw, 1.4vw);
    border: 2px solid rgb(255, 108, 0);
    padding: 1vh 1vw 1vh 1vw;
    background: transparent;
    color: white;
    border-radius: 8px;
    margin: 3vh 0 12vh 0;
  }
  
}

@media all and (max-width: 1036px) and (orientation: portrait) {
  .gametitle {
    font-size: 14px;
    width: 12vw;
    text-align: center;
  }
  .gamehead {
    font-size: 24px;
    width: 50vw;
    text-align: center;
  }
  .cardsp {
    font-size: 17px;
  }
}

@media all and (max-width: 768px) {
  .gamep {
    width: 66%;
  }
  .gametitle {
    font-size: 14px;
    width: 30vw;
    text-align: center;
  }
  .gamehead {
    font-size: 24px;
    width: 80vw;
    text-align: center;
  }
  .gameimg {
    width: 86vw;
  }
  .gamehead {
    font-size: 24px;
  }
  .gameimg1 {
    width: 84vw;
    margin: 0 0 0 1vw;
    padding: 0 0 0 11vw;

  }
  .gamebtn2{
    margin: 0 0 6vh 0;
  }
}
